# Ignore wifi access information
wifi_access.txt

# Ignore .docx files
*.docx

# Ignore .pptx files
*.pptx

# Ignore .pdf files (slides, syllabus)
*.pdf

# Ignore student task briefs
STUDENT_TASKS.md

# Ignore .db files
*.db

# Ignore Python cache directories
__pycache__/

# Ignore participants.xlsx
participants.xlsx

# Credentials
credentials.json
.env

# Registrations
Summer_School_2025_Registrations.xlsx